<nav class="navbar navbar-dark bg-dark navbar-expand">
  <div class="container-fluid">

    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3">
        <a class="nav-link active" aria-current="page" href="#home">Home</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#plantas">Lista de plantas</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#plantasTabla">Tabla de plantas</a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row ms-auto">
        <li class="nav-item me-3">
          <a class="nav-link disabled">
            {{ sesion$ | async }}
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#" (click)="logOut()">Logout</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#login">Login</a>
        </li>
    </ul>
  </div>
</nav>
